{
  type: 'object'
  title: 'Image Attachment'
  'x-group-name': 'Send Email'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: ['from','to', 'subject']
      properties:
        from:
          type: 'string'
          required: true
        to:
          type: 'string'
          required: true
        subject:
          type: 'string'
          required: true
        text:
          type: 'string'
          required: true
        html:
          type: 'string'
          default: '<p></p>'
        b64: type: 'string'
}
